<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div id="app">
       <div v-if="tampil">
        {{ message }}
       </div>
       <div v-else="tampil">
            Message tidak dapat ditampilkan.
       </div>

       <div v-if="nilai>8">
            predikat A+
       </div>
       <div v-else-if="nilai<=8 && nilai>6">
        predikat B+
       </div>
       <div v-else>
        Nilai kamu kurang
       </div>
    </div>


    <script type="module">

        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp ({
            data(){
                return {
                    message: 'Hello world',
                    tampil: true,
                    nilai: 5
                    }
                }
        }).mount('#app')
    </script>    
</body>
</html>